<!DOCTYPE html>
<html>
<head>
  <title>Faves&Hates</title>
</head>
<body>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/animals'>Favorite Animals</a></li>
        <li><a href='/foods'>Favorite Foods</a></li>
      </ul>
  <%- body %>
</body>
</html>